<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Project</display-name>
  <servlet>
        <servlet-name> RegistrationController</servlet-name>
        <servlet-class> RegistrationController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name> RegistrationController</servlet-name>
        <url-pattern>/RegistrationController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name> LoginController</servlet-name>
        <servlet-class> LoginController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name> LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
     <servlet>
    <servlet-name>NotiController</servlet-name>
    <servlet-class>NotiController</servlet-class>

    </servlet>

<servlet-mapping>
    <servlet-name>NotiController</servlet-name>
    <url-pattern>/NotiController</url-pattern>
</servlet-mapping>
   
    <servlet>
    <servlet-name>RequestController</servlet-name>
    <servlet-class>RequestController</servlet-class>

    </servlet>

<servlet-mapping>
    <servlet-name>RequestController</servlet-name>
    <url-pattern>/RequestController</url-pattern>
</servlet-mapping>

  <servlet>
    <servlet-name>Admin_history</servlet-name>
    <servlet-class>Admin_history</servlet-class>

    </servlet>

<servlet-mapping>
    <servlet-name>Admin_history</servlet-name>
    <url-pattern>/Admin_history</url-pattern>
</servlet-mapping>

 <servlet>
    <servlet-name>Sample_details</servlet-name>
    <servlet-class>Sample_details</servlet-class>

    </servlet>

<servlet-mapping>
    <servlet-name>Sample_details</servlet-name>
    <url-pattern>/Sample_details</url-pattern>
</servlet-mapping>

 <servlet>
    <servlet-name>Sample_reject</servlet-name>
    <servlet-class>Sample_reject</servlet-class>

    </servlet>

<servlet-mapping>
    <servlet-name>Sample_reject</servlet-name>
    <url-pattern>/Sample_reject</url-pattern>
</servlet-mapping>
    </web-app>
    
    